<?xml version="1.0"?>
<launch>
  <arg name="robot_namespace" default="/" />
  <arg name="joy_dev" default="/dev/input/js0" />
  <arg name="joypad_type" default="$(optenv DOPPEL_JOYPAD_TYPE ps4_wired)" />

  <arg name="velodyne_enabled" default="$(optenv DOPPEL_VELODYNE_ENABLED true)" />
  <arg name="velodyne_gpu" default="$(optenv DOPPEL_VELODYNE_GPU false)" />

  <include file="$(find erista_control)/launch/control.launch" >
    <arg name="robot_namespace" value="$(arg robot_namespace)" />
    <arg name="velodyne_enabled" value="$(arg velodyne_enabled)" />
  </include>

  <include file="$(find erista_control)/launch/teleop.launch" >
    <arg name="robot_namespace" value="$(arg robot_namespace)" />
    <arg name="joy_dev" value="$(arg joy_dev)" />
    <arg name="joypad_type" value="$(arg joypad_type)" />
  </include>

  <!-- TODO: rviz -->
</launch>
