<?xml version="1.0"?>
<launch>
  <arg name="robot_namespace" default="/" />

  <arg name="velodyne_enabled" default="true" />
  <arg name="velodyne_gpu" default="false" />

  <arg name="joy_dev" default="/dev/input/js0" />
  <arg name="joypad_type" default="$(optenv DOPPEL_JOYPAD_TYPE ps4_wired)" />

  <!-- Spawn Gazebo world and erista model, plus controllers -->
  <include file="$(find erista_gazebo)/launch/erista_empty_world.launch" >
    <arg name="robot_namespace" value="$(arg robot_namespace)" />
    <arg name="velodyne_enabled" default="$(arg velodyne_enabled)" />
    <arg name="velodyne_gpu" default="$(arg velodyne_gpu)" />
  </include>

  <!-- Launch nodes required for teleop -->
  <include file="$(find erista_control)/launch/teleop.launch" >
    <arg name="robot_namespace" value="$(arg robot_namespace)" />
    <arg name="joy_dev" value="$(arg joy_dev)" />
    <arg name="joypad_type" value="$(arg joypad_type)" />
  </include>

  <!-- Spawn rviz with the MoveIt! plugin panel -->
  <node name="rviz" pkg="rviz" type="rviz"
    args="-d $(find erista_base)/config/erista.rviz" />
</launch>
