<?xml version="1.0"?>
<launch>
  <arg name="robot_description" default="robot_description" />
  <arg name="robot_namespace" default="/" />
  <arg name="velodyne_enabled" default="$(optenv DOPPEL_VELODYNE_ENABLED true)" />
  <arg name="velodyne_gpu" default="$(optenv DOPPEL_VELODYNE_GPU false)" />

  <param name="$(arg robot_description)" command="$(find xacro)/xacro --inorder
    '$(find doppel_description)/urdf/doppel_robot.urdf.xacro'
    robot_namespace:=$(arg robot_namespace)
    velodyne_enabled:=$(arg velodyne_enabled)
    velodyne_gpu:=$(arg velodyne_gpu)
    " />
</launch>
