<?xml version="1.0"?>
<launch>
  <arg name="robot_description" default="robot_description" />
  <arg name="robot_namespace" default="/" />

  <param name="$(arg robot_description)" command="$(find xacro)/xacro --inorder
    '$(find erista_description)/urdf/erista_robot.urdf.xacro'
    robot_namespace:=$(arg robot_namespace)
    " />
</launch>
